# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/server/node_modules
/client/node_modules
/.pnp
.pnp.js

# testing
/server/coverage
/client/coverage

# production
/server/build
/client/build

# misc
/server/.DS_Store
/server/.env.local
/server/.env.development.local
/server/.env.test.local
/server/.env.production.local
/server/.vscode

/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/client/.vscode

/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
